# URL вашего backend API (без завершающего /)
# Пример: https://api.example.com
VITE_API_BASE_URL=https://say-republicans-neighborhood-right.trycloudflare.com

# Полный URL WebSocket сервера
# Пример: wss://api.example.com
VITE_WS_URL=wss://say-republicans-neighborhood-right.trycloudflare.com
